<div class="card">
    <div class="card-body">
        <form #studentForm="ngForm">
            <div class="form-group">
                <label for="ime">{{'students.form.firstName' | translate}}</label>
                <input [(ngModel)]="student.firstName" type="text" class="form-control" id="ime" name="ime"
                    placeholder="{{'students.form.firstNamePlaceholder' | translate}}" required>
            </div>
            <div class="form-group">
                <label for="prezime">{{'students.form.lastName' | translate}}</label>
                <input [(ngModel)]="student.lastName" type="text" class="form-control" id="prezime" name="prezime"
                    placeholder="{{'students.form.lastNamePlaceholder' | translate}}" required>
            </div>
            <div class="form-group">
                <label for="jmbag">JMBAG</label>
                <input [(ngModel)]="student.jmbag" type="text" class="form-control" id="jmbag" name="jmbag"
                    minlength="10" maxlength="10" placeholder="Unesite JMBAG studenta" required #jmbag="ngModel">
                <div *ngIf="!studentForm.pristine && jmbag.invalid" class="invalid-feedback d-block">
                    {{'students.form.jmbagError' | translate}}
                </div>
            </div>
            <div class="form-group">
                <label for="ects">{{'students.form.ects' | translate}}</label>
                <input [(ngModel)]="student.numberOfECTS" type="number" class="form-control" id="ects" name="ects"
                    placeholder="Unesite broj ECTS bodova" required>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="float-right">
                        <button routerLink="/students" [disabled]="saving" class="btn btn-outline-secondary mr-4"
                            type="button">{{'students.form.cancel' | translate}}</button>
                        <button (click)="save()" [disabled]="!studentForm.valid || saving" class="btn btn-success"
                            type="button">{{'students.form.save' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>